<!DOCTYPE html>
<html>
<head>
  <title>Shell</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body ng-app="AngularApp">

<%= render :partial => "shared/navigation" %>

<div id="ns-page-main">

  <div id="ns-slide-controls" class="ns-section-main">
    <div class="ns-section-wrapper">
      <div id="ns-slide-control-left"></div><!-- #ns-slide-control-left -->
    </div>
    <!-- .ns-section-wrapper -->
  </div>
  <!-- #ns-slide-controls.ns-section-main -->

  <%= yield %>
  <%= render :partial => "shared/footer" %>

</div>
<!-- #ns-page-main -->

</body>
</html>
